<h1>All Recipes</h1>
<%= link_to "Click here to search", "/search" %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="/recipes/<%= recipe.id %>">
        <%= recipe.title %>
      </a>
    </li>
  <% end%>
</ul>