<h1>All Ingredients</h1>
<%= link_to "Click here to search", "/search" %>
<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <%= link_to "#{ingredient.name}", "/ingredients/#{ingredient.id}" %>
    </li>
  <% end%>
</ul>